<div class="admin-page">
  <div> <%= render "admin/static_pages/sidebar" %> </div>
  <div class="form-container">
    <div class="form row">
      <div class="edit-account">
        <p class="form-title">Chỉnh sửa Môn học</p>
        <%= form_for [:admin, @subject] do |f| %>
          <%= f.label :name, "Tên môn học" %>
          <%= f.text_field :name, class: "form-control" %>
          <%= f.submit "Edit", class: "submit-btn" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
