<div class="home-page-wrapper">
    <div class="home-page">
        <div class="slide-promotion">
            <div class="slideshow-container">
                <div class="mySlides fade_banner">
                    <img src="https://sachdenroi.com/wp-content/uploads/2021/02/sach-hay-nen-doc-2021.jpg" width="100%" />
                </div>
                <div class="mySlides fade_banner">
                    <img src="https://static.ybox.vn/2020/5/1/1589739508893-B%E1%BA%A3n%20chi%E1%BA%BFu1.JPG" width="100%" />
                </div>
                <div class="mySlides fade_banner">
                    <img src="https://bloganchoi.com/wp-content/uploads/2019/08/giet-con-chim-nhai.jpg" width="100%" />
                </div>
                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>
                <div class="dot-container">
                    <span class="dot" onclick="currentSlide(1)"></span>
                    <span class="dot" onclick="currentSlide(2)"></span>
                    <span class="dot" onclick="currentSlide(3)"></span>
                </div>
            </div>
        </div>
        <div class="book-list-container">
            <div class="book-list-header">
                Sách mới nhất <span><a href="/books">Xem them</a></span>
            </div>
            <div class="book-list">
                <% @books.each do |book| %>
                    <a href="<%= "books/show?id=" + book.id.to_s %>">
                        <div class="book-item-row">
                            <div class="image-wrapper">
                                <img src="<%= book.image %>" width="100%"/>
                                <div class="see-detail">Xem chi tiết</div>
                            </div>
                            <div class="detail-wrapper">
                                <p class="title">
                                    <%= book.title %>
                                    <span class="author">by <%= book.author %></span>
                                </p>
                                <p class="describe"><%= book.describe %></p>
                            </div>
                        </div>
                    </a>
                <% end %>
            </div>
        </div>
    </div>
</div>
<%= javascript_pack_tag('home.js') %>


