<div class="admin-page">
  <div> <%= render "admin/static_pages/sidebar" %> </div>
  <div class="book-manage-page">
    <div class="book-list">
      <% @books.each do |book| %>
        <%= link_to admin_book_path(book) do %>
          <div class="book-item-row">
              <div class="image-wrapper">
                  <%= image_tag book.doc_file_pages.first %>
              </div>
              <div class="detail-wrapper">
                  <p class="title">
                      <%= book.title %>
                      <span class="author">by <%= book.author %></span>
                  </p>
              </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <%== pagy_nav(@pagy) %>
  </div>
  
</div>
