<div class="admin-page">
  <div> <%= render "admin/static_pages/sidebar" %> </div>
  <div class="form-container">
    <div class="form row">
      <div class="add-book">
        <p class="form-title">Thêm sách</p>
        <%= form_for(:book, remote: true) do |f| %>
          <%= f.label :title %>
          <%= f.text_field :title, class: "form-control" %>
          <%= f.label :author %>
          <%= f.text_field :author, class: "form-control" %>
          <%= f.label :subject %>
          <%= f.text_field :subject, class: "form-control" %>
          <%= f.label :describe %>
          <%= f.text_area :describe, class: "form-control" %>
          <%= f.label :grade %>
          <%= f.select :grade, options_for_select([["6", "6"],["7", "7"], ["8", "8"], ["9", "9"], ["Mọi lứa tuổi", "Mọi lứa tuổi"]]), class: "form-control"%>
          <%= f.label :subject %>
          <%= collection_select(:book, :subject_id, @subjects, :id, :name) %>
          <%= f.label :category %>
          <%= collection_select(:book, :category_id, @categories, :id, :name) %>
          <%= f.label :publish_on %>
          <%= f.date_field :publish_on, class: "form-control"%>
          <%= f.label :upload_file %>
          <%= f.file_field :doc_file, required: true %>
          <%= f.submit "Add", class: "submit-btn" %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  </div>
