<div class="admin-page">
    <div> <%= render "admin/static_pages/sidebar" %> </div>
    <ul>
    <div> <%= @book.title %></div>
    <div> <%= @book.author %></div>
    <div> <%= @book.describe %></div>
    <div> <%= @book.content %></div>
    </ul>
    <div>
      <p> Xem</p>
      <%= link_to "delete", admin_book_path(@book), method: :delete, data: { confirm: t(".sure") } %>
    </div>
</div>
