<div class="admin-page">
  <div> <%= render "admin/static_pages/sidebar" %> </div>
  <div class="book-detail-page">
    <div class="image-wrapper">
     <%= image_tag @book.doc_file_pages.first, width: "100%" %>
    </div>
    <div class="detail-section">
      <div class="book-detail">
        <div class="header">
          <span class="book-title"><%= @book.title %> </span> by <span class="book-author"><%= @book.author %> </span>
        </div>
        <div class="detail">
          <div class="book-subject">
            Thể loại: <%= @book.subject %>
          </div>

          <div class="book-describe">
            Miêu tả: <%= @book.describe %>
          </div>
        </div>
      </div>

      <div class="functional-btn">
        <%= link_to admin_book_path(@book), method: :delete, data: { confirm: "Bạn có chắc là muốn xóa không?" } do %>
          <span class="fa fa-trash"></span>
        <% end %>
      </div>
    </div>

  </div>
</div>
