<div class="profile-page">
  <div class="profile-container">
    <div class="infor-profile">
      <header>
        <h3>Hồ Sơ Của Tôi</h3>
        <p>Quản lý thông tin hồ sơ để bảo mật tài khoản</p>
        <div class="divider"></div>
      </header>
      <%= form_for @user do |f| %>
        <%= f.hidden_field :id, value: current_user.id%>
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control", value: current_user.name %>
        <%= f.label :birthday %>
        <%= f.date_field :birthday, class: "form-control", value: current_user.birthday %>
        <%= f.label :email %>
        <%= f.text_field :email, class: "form-control", value: current_user.email %>
        <%= f.submit "update", class: "submit-btn" %>
      <% end %>
    </div>
    <div class="infor-profile">
      <header>
        <h3>Đổi mật khẩu</h3>
        <p>Để bảo mật tài khoản, vui lòng không chia sẻ mật khẩu cho người khác</p>
        <div class="divider"></div>
      </header>
      <%= form_for @user do |f| %>
        <%= f.hidden_field :id, value: current_user.id%>
        <%= f.label :password %>
        <%= f.password_field :password, class: "form-control" %>
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, class: "form-control" %>
        <%= f.submit "update", class: "submit-btn" %>
      <% end %>
    </div>
  </div>
</div>
