<div class="books-page">
    <div class="book-list-container">
        <div class="book-list">
            <% @books.each do |book| %>
                <a href="#">
                    <div class="book-item-row">
                        <div class="image-wrapper">
                            <img src="<%= book.image %>" width="100%"/>
                            <div class="see-detail">Xem chi tiết</div>
                        </div>
                        <div class="detail-wrapper">
                            <p class="title">
                                <%= book.title %>
                                <span class="author">by <%= book.author %></span>
                            </p>
                            <p class="describe"><%= book.describe %></p>
                        </div>
                    </div>
                </a>
            <% end %>
        </div>
        <div class="pagination">
            <% if (@page > 1) %><a href="/books?page=<%= @page - 1%>">&laquo;</a><% end %>
            <% for i in 0..$totalPage %>
               <a href="#" class="<%= 'active' if (@page == i) %>"><%= i %></a>
            <% end %>
            <% if (@page < @totalPage) %><a href="/books?page=<%= @page + 1 %>">&raquo;</a><% end %>
        </div>
    </div>
</div>
