<div class="container">
  <div class="form row">
    <div class="add-book">
      <p class="form-title">Thêm sách</p>
      <%= form_for :book do |f| %>
          <%= f.label :title %>
          <%= f.text_field :title, class: "form-control" %>
          <%= f.label :author %>
          <%= f.text_field :author, class: "form-control" %>
          <%= f.label :subject %>
          <%= f.text_field :subject, class: "form-control" %>
          <%= f.label :describe %>
          <%= f.text_area :describe, class: "form-control" %>
          <%= f.label :content %>
          <%= f.text_area :content, class: "form-control" %>
          <%= f.label :image %>
          <%= f.text_field :image, class: "form-control" %>
          <%= f.label :publish_on %>
          <%= f.text_field :publish_on, class: "form-control" %>
          <%= f.submit "Add", class: "submit-btn" %>
      <% end %>
  </div>
</div>
