<div class="sidebar">
    <base href="admin">
    <h3 class="title">Menu</h3>
    <div class="sidebar-button menu">
        <span class="fa fa-user"></span> Quản lý tài khoản
    </div>
    <%= link_to "Danh sách tài khoản", admin_users_path, class: "sidebar-button sub-menu"%>
    <div class="sidebar-button menu">
       <span class="fa fa-building"></span> Quản lý lớp
    </div>
    <%= link_to "Danh sách lớp", admin_class_users_path, class: "sidebar-button sub-menu"%>
    <%= link_to "Thêm lớp", admin_add_class_path, class: "sidebar-button sub-menu"%>
    <div class="sidebar-button menu">
       <span class="fa fa-book"></span> Quản lý sách
    </div>
    <%= link_to "Danh sách sách", admin_books_path, class: "sidebar-button sub-menu"%>
    <%= link_to "Thêm sách", admin_add_book_path, class: "sidebar-button sub-menu"%>
    <%= link_to "Đăng xuất", logout_path, method: :delete, class: "sidebar-button"%>
</div>
