<div class="admin-page">
    <div> <%= render "admin/static_pages/sidebar" %> </div>
    <div class="account-manage-page">
        <%= search_form_for [:admin, @q] do |f| %>
            <%= f.label :name_cont %>
            <%= f.search_field :name_cont %>
            <%= f.submit %>
        <% end %>
    <table class="rwd-table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Birthday</th>
            <th>Class</th>
            <th></th>
      </tr>
    </thead>
    <tbody>
        <% @users.each do |user| %>
        <tr>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td><%= user.birthday %></td>
            <td><%= user.class_user_name ? user.class_user_name : "N/A" %></td>
            <td>
                <div class="action-btn">
                    <%= link_to edit_admin_user_path(user) do %>
                        <span class="fa fa-edit"></span>
                    <% end %>
                    <%= link_to admin_user_path(user), method: :delete, data: { confirm: "Bạn có chắc là muốn xóa không?" } do %>
                        <span class="fa fa-trash"></span>
                    <% end %>
                </div>
            </td>
        </tr>
        <% end %>
    </tbody>
  </table>
    <%== pagy_nav(@pagy) %>
  </div>
</div>
