<div class="header">
  <div class="header-body">
    <div class="top-section">
      <%= link_to "Thư viện Lê Quý Đôn", root_path, class: "logo" %>
      <div class="header-right">
        <%= link_to "Home", root_path %>
        <%= link_to "Books", "/books" %>
        <% if logged_in? %>
          <%= link_to "User", "/users" %>
          <div class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <div class="dropdown-content">
              <%= link_to "Settings", '#' %>
              <%= link_to "Log out", logout_path, method: :delete %>
            </div>
          </div>
        <% else %>
          <%= link_to "Log in", login_path %>
        <% end %>
      </div>
    </div>
    <div class="bottom-section">
      <form class="search-form-wrapper" action="/search">
        <input name="q" type="text" placeholder="Nhập nội dung tìm kiếm" value="<%= params[:q] %>"/>
        <input type="submit" hidden />
        <button type="submit" class="search-btn"><span class="fa fa-search"></span></button>
      </form>
      <a href="/">
        <img src="http://thcslequydon.tpbacgiang.edu.vn/upload/38254/20171111/LEQUYDON_update_2_JPG.jpg" width="100%">
      </a>
    </div>
  </div>
</div>
